
#navbarNav{
    font-weight: bolder;
    background-color:rgb(246, 204, 189);

}
#nav > img{
    
}

#hire{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-style: oblique;
    
   
 
 }
 .enquiriesstyle{
     background-color:rgb(246, 204, 189);
 }
 #contactstyle{
   font-weight: bolder;
   font-size: 25px;
   font-style: normal;
 }
 .contactsstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
 }
 .top{
    text-align: end;
}